*{
    font-family: "Rubik", sans-serif;
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg-color: #1f1f21;
    --main-color: #ffae00;
    --text-color: #ffffff;

    --big-font: 5rem;
    --p-font: 1.1rem;
}

body{
    color: var(--text-color);
    overflow: scroll;
}

section.home{
    padding: 50px 100px 0 100px;
}

main{
    background-color: var(--bg-color);
    padding: 10px;
    margin-top: 60px;
}

.header{
    text-align: center;
    margin: auto;
    background-color: var(--bg-color);
    position: fixed;
    width: 100%; /* para o header ocupar toda a largura da tela */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    align-items: center;
    justify-content: space-evenly;
    transition: all ease 0.45s;
    padding: 0.5em 0;
}

.header_logo{
    text-decoration: none;
    color: var(--text-color);
    font-size: 2.4em;
    font-weight: 600;
    padding: 0.2em;
    margin-left: 0;
}

a.header_logo{
    margin-left: 2%;
}

.header_logo span {
    color: var(--main-color);
}

section {
    padding: 0;
    width: 100%;
}

section.home{
    padding-bottom: 100px;
    padding-top: 5px;
}

.hr{
    color: var(--main-color);
}

#hamburguer{
    background-color: var(--bg-color);
    color: var(--color-white);
    display: block;
    text-align: center;
    padding: 0.3em;
    cursor: pointer;
    font-size: 2em;
}

span#hamburguer.material-symbols-rounded{
    color: var(--main-color);
}

.header_nav{
    background-color: var(--bg-color);
    display: none;
    margin-top: 1em;
}

ul{
    margin: 0;
}

.header_nav ul{
    padding: 0;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: var(--p-font);
    color: var(--text-color);
    transition: all ease 0.5s;
    font-weight: 400;
}

.header_nav a{
    color: var(--color-white);
    padding: 1em;
    text-decoration: none;
}

.header_nav.show{
    display: block;
}

.header_nav a:hover{
    color: var(--main-color);
    background-color: color-mix(in srgb, var(--bg-color), var(--color-white) 80%);
}

.header_nav a.active {
    color: var(--main-color);
}

.header_nav a.cont {
    background-color: var(--main-color);
    color: var(--text-color);
}

.header_nav a.cont:hover {
    background-color: var(--text-color);
    color: var(--main-color);
}

/* Home */

.home {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.875em;
}
.home-img {
    width: 60vh;
    height: auto;
}
.home-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin-top: 5px;
    animation: imgg 2s ease-in-out infinite;
    animation-delay: 2s;
    max-width: 28.125em;
}
.home-text span {
    padding: 0.3125em 1.5625em;
    background: linear-gradient(130.08deg, #383528 0%, #191919 100%);
    box-shadow: 0em 1.25em 2.5em #00000070;
    border: 0.0625em solid #3b3b3b;
    border-radius: 100px;
    color: var(--text-color);
    font-weight: 700;
    font-size: var(--p-font);
    text-transform: uppercase;
}
.home-text h1{
    font-size: var(--big-font);
    margin: 0;
    margin-bottom: 0.3125em;
    margin-top: 0.3125em;
    color: var(--text-color);
}

.home-text p {
    font-size: var(--p-font);
    font-weight: 400;
    color: #c3c3c3;
    line-height: 1.875em;
    margin-bottom: 0.625em;
}


a.btn{
    display: inline-block;
    padding: 0.875em 2.125em;
    background: var(--main-color);
    color: var(--text-color);
    border: 0.125em solid var(--main-color);
    font-size: 1em;
    font-weight: 600;
    border-radius: 8px;
    transition: all 0.6s ease-in-out;
    margin-bottom: 0;
    margin-top: 10px;
}

a.btn.dois{
    display: inline-block;
    background: #141414;
    color: var(--text-color);
    border: 0.125em solid #141414;
    font-size: 1em;
    font-weight: 600;
    border-radius: 8px;
    transition: all 0.6s ease-in-out;
    margin-left: 1.5625em;
}

a.primary-btn:hover {
    transform: translateY(-0.3125em);
    background: transparent;
    color: var(--main-color);
    border-color: var(--main-color);
}

a.dois:hover {
    transform: translateY(-0.3125em);
    color: #141414;
    background: var(--text-color);
    border: 0.125em solid var(--text-color);
}

.share{
    position: absolute;
    bottom: 7rem;
    display: flex;
    align-items: center;
}

.share p{
    font-size: 1.0625em;
    color: var(--text-color);
    margin-right: 1.5625em;
}
.social i{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 2.8125em;
    width: 2.8125em;
    background: linear-gradient(130.08deg, #383528 0%, #191919 100%);
    box-shadow: 0em 1.25em 2.5em #00000070;
    border: 0.0625em solid #3b3b3b;
    border-radius: 50%;
    color: var(--text-color);
    font-size: 1.25em;
    margin: 0 0.4375em;
    transition: all 0.6s ease-in-out;
}
.social i:hover{
    transform: translateY(-0.625em);
}

/* footer */

footer{
    background-color: var(--bg-color);
    padding: 1em;
    text-align: center;
    color: var(--text-color);
}

.logos_footer{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.tamanho{
    width: 2.5em;
}

.texto_footer{
    font-size: 0.6em;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    margin:0;
    padding-top: .8rem;
    color: var(--color-white);
}

@media screen and (min-width: 48em){ /*768px maior que*/
    #hamburguer{
        display: none;
    }

    *{
        :root{
            --big-font: 3rem;
            --p-font: 0.9375em;
            transition: .2s;
        }
    }

    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--bg-color);
    }

    .header_logo{
        margin-left: 2em;
    }

    .header_nav{
        display: block;
    }

    .header_nav ul{
        margin-right: 2em;
        font-size: .9em;
    }

    .header_nav li{
        display: inline-block;
    }

    .header_nav a{
        border-radius: 5px;
    }

    .header_nav a:hover{
        background-color: var(--color-white);
        color: var(--main-color);
    }

}

@media screen and (min-width: 48em){/*768px maior que */

    .logos_footer{
        flex-direction: row;
        justify-content: center;
        gap:1em;
    }

    div.main-btn{
        display: flex;
      }
    
    .home-img img{
      animation: imgg 2s ease-in-out infinite;
      animation-delay: 2s;
    }
    @keyframes imgg{
      0%{
        transform: translateY(0);
      }
      50%{
        transform: translateY(-1.375em);
      }
      100%{
        transform: translateY(0);
      }
    }
}

@media screen and (max-width: 48em) {
    .share {
        display: none;
    }
    section{
      padding: 4.375em 4%;
      display: flex;
        flex-direction: column; /* Altere para flex-direction: column; */
        align-items: center;
    }
    header{
      padding: 0.6875em 4%;
      background: #2d2d2d;
    }
    .home{
    height: auto;
    display: flex;
    flex-direction: column;
    }
    .home-text{
        text-align: center;
        margin-bottom: 1rem;
    }
    .home-img{
      margin: auto;
      width: 100%;
      max-width: 28.125em
    }
    .home-img img{
      max-width: 28.125em;
      height: auto;
    }
}

@media (max-width: 59.375em){
    :root{
        --big-font: 4rem;
        --p-font: 0.2em;
        transition: .2s;
        --bg-color: #1f1f21;
        --main-color: #ffae00;
        --text-color: #ffffff;
    }

    

    main{
        background-color: var(--bg-color);
        padding: 10px;
        margin-top: 10px;
    }

    div.home-text{
        align-items: center;
    }
    
    .share {
        display: none;
    }
    section{
      padding: 4.375em 4%;
    }
    header{
      padding: 0.6875em 4%;
      background: #2d2d2d;
    }
    .home{
        padding-bottom: 140px;
        padding-top: 10px;
        height: auto;
        display: flex;
        flex-wrap: wrap;
    }
    .home-text{
      order: 2;
      text-align: center;
      padding: 0 20px;
      padding-top: 0px;
      
    }
    .home-img{
      margin: auto;
      height: auto;
      width: auto;
    }

    .home-img img{
      max-width: 28.125em;
      width: 100%;
      height: auto;
    }
    a.btn {
        margin-bottom: 4em; /* Ajuste o valor conforme necessário */
        padding: 0.5em 1.25em; /* Tamanho menor para telas menores */
        font-size: 0.9em; /* Tamanho menor da fonte para telas menores */
    }

    div.main-btn {
        display: inline-block; /* Altere para "inline-block" para que ele ocupe apenas o espaço necessário */
        width: auto; /* Defina a largura para "auto" para se ajustar ao conteúdo */
        height: auto; /* Defina a altura para "auto" para se ajustar ao conteúdo */
        margin: 0;
    }

    .home-text span {
        padding: 0.2em 1em; /* Ajuste o padding conforme necessário */
        font-size: 0.8em; /* Ajuste o tamanho da fonte conforme necessário */
    }

    .home-img img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        margin-top: 115px;
        animation: imgg 2s ease-in-out infinite;
        animation-delay: 2s;
        max-width: 28.125em;
    }

    .header_nav a.cont{
        background-color: transparent;
    }
    .header_nav a.cont:hover{
        background-color: transparent;
    }

    @keyframes imgg{
        0%{
          transform: translateY(0);
        }
        50%{
          transform: translateY(-1.375em);
        }
        100%{
          transform: translateY(0);
        }
    }

    section.home{
        padding: 0;
    }
  }

  @media (max-width: 63.75em){
    .navbar a{
        margin: 0 0.9375em;
    }
    :root{
        --big-font: 4rem;
        --p-font: 0.9rem;
        transition: .2s;
        --bg-color: #1f1f21;
        --main-color: #ffae00;
        --text-color: #ffffff;
    }
}

.cor{
    background-color: var(--main-color);
}
.text-bg-amarelo{
    color: #ffae00 !important;
}

.text-bg-branco{
    color: #ffffff !important;
}

